body {
    font-family: sans-serif;
    transition: background-color .5s;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 8px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 20px;}
}

body{
	font-family: sans-serif;
	width:90%;
	max-width: 1024px;
	margin: 0 auto;
	color: #333;
	background-color: white;
}

h1{
	font-size: 64px;
	color:white;
	text-decoration: underline;
}

h2{
	text-decoration: underline;
}

h3{
	text-color:black;
}

#home{
	border: 3px solid black;
	padding: 10 32px;
	background-color: #9900cc;
	margin-bottom: 600px;
	color: white;

}

.info{
	border: 3px solid black;
	padding: 0 32px;
	background-color: #9900cc;
	margin-bottom: 600px;
	color: white;

}

.important{
	font-size: 20px;
	font-weight: bold;
}

#symptoms{
}

#news{
}

#examination{
}

#surgery{
}

#rehab{
}